.App {
  text-align: center;
  background-color: black;
}
.title{
  color: white;
  display: flex;
  align-self: flex-start;
  font-weight: 100;
  font-size: 15px;
}
.search{
  height: 30px;
  width: 30px;
  padding-right: 8px;
 align-self: flex-start;
 margin-top: 18px;
}
span{
  padding: 3px;
  font-family: 'Comme';
  font-weight: 400;
  font-size: 20px;
}
.heardCard{
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  margin-left: 100px;
  margin-right: 100px;
}
.headerimageContainer{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-start;
  margin-right: 100px;
  margin-bottom: 20px;
}
.headerContainer{
  display: flex;
  justify-content: space-between;
}
.heading {
  font-size: 16px;
  color: azure;
  font-weight: 300;
  padding: 8px;
}
.headertitle{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.categoryitems{
  height: 105px;
  width: 100px;
  
}
.categoryContainer{
  display: flex;
  flex-direction: row;
}
.categoryIcon{
  padding-left: 65px;
}
.heading1 {
  font-size: 16px;
  color: azure;
  font-weight: 300;
  padding: 8px;
  text-align: center;
}
.cardImages{
height: auto;
width: auto;
padding-top: 35px;
}
